/build
/build/
build/
/captures
/.idea/workspace.xml
/.idea/libraries
*.iml
.gradle
.DS_Store
.externalNativeBuild
.idea/
.arcconfig

# Local configuration file (sdk path, etc)
local.properties
/local.properties
